# 列表 List

可以包含不同类型的对象

### 创建列表list()

In [1]:
l<-list("a",2,10L,3+4i,TRUE)
l

[[1]]
[1] "a"

[[2]]
[1] 2

[[3]]
[1] 10

[[4]]
[1] 3+4i

[[5]]
[1] TRUE

### 列表的命名

In [2]:
l2<-list(a=1,b=2,c=3)
l2

$a
[1] 1

$b
[1] 2

$c
[1] 3

In [3]:
l3<-list(c(1,2,3),c(4,5,6,7))
l3

[[1]]
[1] 1 2 3

[[2]]
[1] 4 5 6 7

In [4]:
x<-matrix(1:6,nrow=3,ncol=2)       #矩阵命名
dimnames(x)<-list(c("a","b","c"),c("d","e"))
x

  d e
a 1 4
b 2 5
c 3 6

### 构建子集

[[]]、$、[[]][]、[[]][[]]

In [5]:
x<-list(id=1:4,height=170,gender="male")
x

$id
[1] 1 2 3 4

$height
[1] 170

$gender
[1] "male"

In [6]:
x[1]  #单括号，元素的名称和内容

$id
[1] 1 2 3 4

In [7]:
x["id"]

$id
[1] 1 2 3 4

In [8]:
x[[1]]  #双括号，元素的内容

[1] 1 2 3 4

In [9]:
x$id   #$,元素的内容

[1] 1 2 3 4

In [10]:
x[c(1,3)]

$id
[1] 1 2 3 4

$gender
[1] "male"

In [11]:
y<-"id"
x[["id"]]   #双括号，可以使用名称，或者包含这个名称的变量。
x[[y]]

[1] 1 2 3 4

[1] 1 2 3 4

In [12]:
x$id    #$,只能使用名称，不能使用包含这个名称的变量
x$y

[1] 1 2 3 4

NULL

### 嵌套列表的子集

In [14]:
x<-list(a=list(1,2,3,4),b=c("Monday","Tuseday"))#从列表中获取嵌套的元素
x

$a
$a[[1]]
[1] 1

$a[[2]]
[1] 2

$a[[3]]
[1] 3

$a[[4]]
[1] 4


$b
[1] "Monday"  "Tuseday"

In [15]:
x[[1]]  #列表的第1个元素

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[[4]]
[1] 4

In [16]:
x[[1]][[2]]   #列表第一个元素中的第二个元素的内容

[1] 2

In [17]:
x[[1]][2]     #子列表中的第二个元素，而不是第二个元素的内容

[[1]]
[1] 2

In [19]:
x[[c(1,3)]]  #x[[c(a,b)]]列表第a个元素，其中第b个元素
x[[c(2,2)]]

[1] 3

[1] "Tuseday"

In [21]:
l<-list(asdffghj=1:10)   #列表的不完全匹配
l$asdffghj
l$a

 [1]  1  2  3  4  5  6  7  8  9 10

 [1]  1  2  3  4  5  6  7  8  9 10

In [24]:
l[["a"]]     #exact=FALSE 关闭了完全匹配，可以不完全匹配
l[["a",exact=FALSE]]

NULL

 [1]  1  2  3  4  5  6  7  8  9 10