In [ ]:
sort：对象两进行排序；返回排好序的内容

In [1]:
x<-data.frame(v1=1:5,v2=c(10,7,9,6,8),v3=11:15,v4=c(1,1,2,2,1))
sort(x$v2)   #x的v2列按照升序进行排列
sort(x$v2,decreasing=TRUE)  #降序

[1]  6  7  8  9 10

[1] 10  9  8  7  6

In [ ]:
order:返回排好序的内容的下标，且可按多个标准进行排序

In [6]:
x<-data.frame(v1=1:5,v2=c(10,7,9,6,8),v3=11:15,v4=c(1,1,2,2,1))
order(x$v2)   #返回的是下标
x[order(x$v2),]  #x按照上面返回的下标进行排序
x[order(x$v4,x$v2,decreasing = TRUE),] #先按v4排序，再按v2排序,且为降序

[1] 4 2 5 3 1

  v1 v2 v3 v4
4 4   6 14 2
2 2   7 12 1
5 5   8 15 1
3 3   9 13 2
1 1  10 11 1

  v1 v2 v3 v4
3 3   9 13 2
4 4   6 14 2
1 1  10 11 1
5 5   8 15 1
2 2   7 12 1