#### SELECT 列名称 FROM 表名称；

#### SELECT DISTINCT 列名称 FROM 表名称；    
唯一值

#### SELECT 列名称 FROM 表名称 WHERE 列 运算符 值

#### SELECT column_name(s) FROM table_name WHERE column_name LIKE pattern

#### SELECT TOP number|percent column_name(s) FROM table_name

#### SELECT column_name(s) FROM table_name LIMIT number
MySQL 语法

#### SELECT column_name(s) FROM table_name WHERE ROWNUM <= number¶
Oracle 语法

#### INSERT INTO 表名称 VALUES (值1, 值2,....)

#### INSERT INTO table_name (列1, 列2,...) VALUES (值1, 值2,....)
指定所要插入数据的列

#### UPDATE 表名称 SET 列名称 = 新值 WHERE 列名称 = 某值

#### DELETE FROM 表名称 WHERE 列名称 = 值